root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{kt,kts}]
max_line_length = 200
ktlint_standard_property-naming = disabled
ktlint_standard_backing-property-naming = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_package-name = disabled

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2
