<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    android:targetSandboxVersion="2"
    tools:ignore="UnusedAttribute">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".ui.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_red"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_red_round"
        android:supportsRtl="true"
        android:theme="@style/AD2Theme"
        android:usesCleartextTraffic="true"
        android:appComponentFactory="n7.ad2.AD2AppComponentFactory"
        tools:replace="android:appComponentFactory"
        tools:ignore="DataExtractionRules">

        <profileable android:shell="true" />

        <!-- <activity-alias -->
        <!-- android:name=".ui.setting.domain.model.Red" -->
        <!-- android:enabled="true" -->
        <!-- android:icon="@mipmap/ic_launcher_red" -->
        <!-- android:roundIcon="@mipmap/ic_launcher_red_round" -->
        <!-- android:targetActivity=".ui.splash.SplashActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity-alias> -->
        <!-- <activity-alias -->
        <!-- android:name=".ui.setting.domain.model.Purple" -->
        <!-- android:enabled="false" -->
        <!-- android:icon="@mipmap/ic_launcher_purple" -->
        <!-- android:roundIcon="@mipmap/ic_launcher_purple_round" -->
        <!-- android:targetActivity=".ui.splash.SplashActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity-alias> -->
        <!-- <activity-alias -->
        <!-- android:name=".ui.setting.domain.model.Blue" -->
        <!-- android:enabled="false" -->
        <!-- android:icon="@mipmap/ic_launcher_blue" -->
        <!-- android:roundIcon="@mipmap/ic_launcher_blue_round" -->
        <!-- android:targetActivity=".ui.splash.SplashActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity-alias> -->
        <activity
            android:name=".ui.MainActivity"
            android:autoVerify="true"
            android:exported="true"
            android:theme="@style/Theme.AppSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="app" />
                <data android:host="n7.ad2" />
            </intent-filter>
        </activity>
    </application>

</manifest>
