<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    android:targetSandboxVersion="2"
    package="ad2.n7.feature_streams"
    tools:ignore="UnusedAttribute">

    <dist:module
        dist:instant="true"
        dist:title="@string/title_feature_streams">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application tools:ignore="AllowBackup,MissingApplicationIcon">
        <activity android:name=".StreamsActivity">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="i30mb1.github.io" />
                <data android:pathPrefix="/streams" />

            </intent-filter>
        </activity>
    </application>

</manifest>